body{
    background-color: black;
}
.profile-pic{
    width: 200px;
    margin-bottom: 10px;
}
.Business-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
}
.Profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
}
.email{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: #000000;
}
p{
    color: white;
}
.email img{
    padding-inline: 1px;
    background-color: white;
    color: white;
    margin-right: 9px;
    height: 20px;
}

footer{
    margin-top: 200px;
    background-color: #000000;
    text-align: center;
    padding: 10px 0;
}
.social-icons{
    display: flex;
    justify-content: center;
}
.social-icons img{
    color: white;
   width: 24px;
   height: 24px;
   margin: 0 5px;
   filter: invert(100%);
}
